
.side-nav-content {
    flex: 1; /* Allow the content to grow and occupy remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the content */
}


.dash-side-nav {
    display: flex;
    height: 100vh;
    padding-top: 48px;
    margin: 0; /* Remove any margins */
    overflow: hidden; /* Prevent content from overflowing */
}

// .example-container {
//     flex: 0 0 auto;
//     width: 200px; /* Adjust the width of the drawer */
//     height: 100%;
//     transition: width 0.3s ease; /* Apply transition only to width */
// }

// .example-container {
//     flex: 0 0 auto;
//     width: calc(100vw - 200px); /* Adjusted width for the container */
//     height: 100vh;
//     margin-left: 200px; /* Set margin to drawer width to create space */
//     transition: width 0.3s ease; /* Apply transition only to width */
// }


.example-container {
    flex: 0 0 auto;
    width: 1540px; /* Fixed width for the container */
    height: 100%;
    transition: width 0.3s ease; /* Apply transition only to width */
}


.nav-btn {
    width: 200px; //drawer width
    margin-top: 2px;
    border: none;
    box-shadow: none;
}

.side-nav-content {
    flex: 1; /* Allow the content to grow and occupy remaining space */
    overflow-y: auto;
    margin-top: 25px;
    margin-left: 54px; /* Space between content and edges of the viewport */
}

.side-nav-cnt{
    margin: 10px;
    margin-left: 18px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}

.nav-cnt{
    margin: 10px;
    margin-top: 25px;
    margin-left: 18px;
    width: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
// mat-icon{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.mat-drawer-content {
    height: 100vh; /* Set height to viewport height */
    overflow-y: auto; /* Enable vertical scrolling for content */
    width: calc(100% - 200px); /* Adjusted width for the content */
    margin-left: 200px; /* Set margin to drawer width to create space */
    transition: padding-left 0.3s ease; /* Apply transition only to padding */
}



.mat-drawer-content {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling for content */
    width: 100%;
    margin-left: 40px;
    transition: padding-left 0.3s ease; /* Apply transition only to padding */
}

.mat-drawer {
    position: fixed; /* Keep the drawer fixed */
    top: 47px;
    left: 0;
    bottom: 0;
    width: 180px; /* Same width as container */
    z-index: 1000; /* Ensure drawer is above content */
    overflow-y: auto; /* Enable vertical scrolling for drawer */
    border-right: 0.1px solid #ccc; /* Add border to separate drawer from content */
}

.small-side-nav-btn{
    flex: 1; /* Allow the content to grow and occupy remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the content */
    width: 80px;
    background-color: #fafafa;
    box-shadow: none;
    border: none;
    position: fixed; 

}