.dash-side-nav {
    height: 100%;
}

.example-container {
    width: 1450px; /* Fixed width for the container */
    height: 100%;
    margin-left: 12px;
    transition: margin-left 0.3s ease;
}


.nav-btn {
    width: 200px; //drawer width
    margin-top: 10px;
}

.side-nav-content {
    margin-top: 25px;
    margin-left: 54px; /* Space between content and edges of the viewport */
}
