<div class="outer-reg-cnt">
    <div class="register-div-cnt">
      <form class="register-form-cnt" [formGroup]="registerForm" >
        <div class="reg-text-cnt">
            <span style="color: orange;">Fundo</span>
            <span>Create your Fundo Account</span>
        </div>
        <div class="name-input-field">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter First Name" formControlName="firstName">
                <mat-error *ngIf="submitted && f['firstName']?.hasError('required')">FirstName required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last Name" formControlName="lastName">
                <mat-error *ngIf="submitted && f['lastName']?.hasError('required')">LastName required</mat-error>
            </mat-form-field>
        </div>
        <div class="username-txt">
            <mat-form-field style="width: 102%; padding-bottom:0" appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="Enter UserName" formControlName="email">
                <mat-error *ngIf="submitted && f['email']?.hasError('email')">Enter correct email format</mat-error>
                <mat-error *ngIf="submitted && f['email']?.hasError('required')">UserName required</mat-error>
            </mat-form-field>
        </div>
        <p>You can Use letters,numbers & periods</p>
        <div class="name-input-field">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Password" formControlName="password">
                <mat-error *ngIf="submitted && f['password']?.hasError('required')">password required</mat-error>
                <mat-error *ngIf="submitted && f['password']?.hasError('minlength')">minimum password length required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                <mat-error *ngIf="submitted && f['confirmPassword']?.hasError('required')">Confirm required</mat-error>
                <mat-error *ngIf="submitted && f['confirmPassword']?.hasError('minlength')">minimum password length required</mat-error>
            </mat-form-field>
        </div>
        <p>Use 8 or more characters with a mix of letters,numbers & symbols</p>
    
        <div class="register-btn">
            <button mat-button color="primary">sign in Instead</button>
            <button (click)="handleRegister()" mat-flat-button color="primary">Register</button>
        </div>
    </form>   
    
</div>
<div class="footer-cnt">
    <footer>
        <button mat-button>Help</button>
        <button mat-button>Privacy</button>
        <button mat-button>Terms</button>
    </footer>
</div>
</div>
