<p>login works!</p>
<div class="login-container" id="login-div">
    <form class="login-form">
      <div class="label-name">Fundoo</div>
        <mat-form-field appearance="outline">
            <mat-label>Email or Phone</mat-label>
            <input matInput placeholder="Enter the Email or Phone">      
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter Password">      
          </mat-form-field>
    </form>
</div>