<div class="login-container" id="login-div">
    <form class="login-form" [formGroup]="loginForm" >
      <div class="text-center">
        <span style="color: orange;">Fundo</span>
        <span>Sign in</span>
        <span>Use your Fundo Account</span>
      </div>
      <div class="text-field">        
        <mat-form-field appearance="outline">
            <mat-label>Email or Phone</mat-label>
            <input formControlName="email" matInput placeholder="Enter the Email or Phone">     
            <mat-error *ngIf="submitted && f['email']?.hasError('email')">Enter correct email format</mat-error> 
            <mat-error *ngIf="submitted && f['email']?.hasError('required')">Email required</mat-error> 

          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input formControlName="password" type="password" matInput placeholder="Enter Password">   
              <mat-error *ngIf="submitted && f['password']?.hasError('required')">password required</mat-error> 
              <mat-error *ngIf="submitted && f['password']?.hasError('minLength')">minimum password length required</mat-error> 

   
            </mat-form-field>
            <button mat-button color="primary" style="width: fit-content;">Forgot Password</button>
        <div class="login-btn-cnt">
          <button mat-button color="primary">Create account</button>
          <button (click)="handleLogin()" mat-flat-button color="primary">Login</button>

      </div>
      </div>
      
    </form>
</div>