#login-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

.login-form{
    width: 500px;
    border: solid gray;
}

.label-name{
    -webkit-text-fill-color: rgb(211, 166, 18);
    justify-content: center;
    margin: 20px;
    text-size-adjust:60px;
}
