.notes-div-cnt{
    width: 240px;
    height: 164px;
    display: flex;
    flex-direction: column;

}


  /* Remove the underline from mat-form-field */
::ng-deep .note-ttl-fld mat-form-field .mat-form-field-wrapper {
    border-bottom: none; /* Remove the bottom border */
    outline: none;
  }
  