.head-container {
    width: 99%;
    height: 40px;
    border-bottom: 1px solid rgb(175, 170, 170);  
    display: flex;
    padding: 10px;
    position: fixed; /* Fixed positioning */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Align to the left edge of the viewport */
    z-index: 1000; /* Ensure the component appears above other content */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    background-color: #ffffff; /* Background color for the container */
}


.cnt1{
    width: 14%;
    // height: 48px;
    // border: 1px solid rgb(175, 170, 170); 
    display: flex;
    gap: 20px;
    // justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-container{
    // border: 1px solid rgb(175, 170, 170); 
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 8px;
    mat-icon{
        width: 20px;
        height: 22px;
    }
}

.search-container{
    border: 1px solid rgb(238, 235, 235); 
    background-color: #f1f1f1;
    height: 40px;
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    mat-icon{
        height: 15px;
    }
    .in{
        border: none;
        &:focus-visible {
        border: none;
         outline: 0px !important;}
         background-color:#f1f1f1;
         font-size: 15px;
    }
}

.cnt2{
    // border: 1px solid rgb(175, 170, 170); 
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    mat-icon{
        height: 20px;
    }
}

.image{
    width: 34px;
    height: 35px;
}

span{
     font-size: 1,125rem;
     font-weight: 500;
     color:#000000DE; 
     line-height: 1.5rem;
     font-family: "Google Sans", Roboto, Arial, sans-serif;
}


.cnt3{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    mat-icon{
        height: 30px;
    }

}

input{
    width: 350px;
    height: 25px;
}