#login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    border: solid 1px gray;
    border-radius: 10px;
    height: 465px;
    gap:5px;
    font-family: sans-serif;
    }

.text-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-content: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

span{
    font-weight:550;
    font-size: 22px;
}

a{
    text-decoration: none;
}
.text-field{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.submit-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.login-btn-cnt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}