span{
    font-weight:550;
    font-size: 22px;
}

.outer-reg-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.reg-text-cnt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-family: sans-serif;
}

.register-form-cnt{
    width: 425px;
    height: 500px;
    padding:30px;
}

.register-div-cnt{
    display: flex;
    align-items: center;
    width: 760px;
    height: 592px;
    border: solid 1px gainsboro;
    border-radius: 6px;
}

.name-input-field{
    padding-top: 14px;
    display: flex;
    gap: 25px;
}
.username-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mat-form-field-wrapper{
    padding-bottom: 0;
}

.register-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
